<div class="container navbar-all">
  <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="<%= hellos_path %>">Linker</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav pull-xs-right">
        <% if user_signed_in? %>          
          <li class="nav-item">
            <li><%= link_to 'My Links', my_links_hellos_path,  class: "nav-link" %></li>
          </li>
          <li class="nav-item">
            <%= link_to "New Link", new_hello_path, class: "btn btn-outline-primary pull-xs-right" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <li class="nav-link"><%= current_user.email %></li>
          </li>
          <% else %>
          <li class="nav-item">
            <%= link_to 'Sign In', new_user_session_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Sign Up', new_user_registration_path,  class: "nav-link" %>
          </li>          
        <% end %>
      </ul>      
    </div>
  </nav>
</div>