<article class="link">

	<section class="link-head">
		<small>
			<%= hello.user.email %>
			<% if hello.user == current_user %>			
				|					
				<%= link_to 'Edit', edit_hello_path(hello) %>
				|
				<%= link_to 'Delete', hello_path(hello), method: :delete, data: { confirm: 'Are you chure ?' } %>
			<% end %>
		</small>
	</section>

	<section class="link-body">
		<p><%= link_to hello.summary, hello_path(hello) %></p>
		<h3><code><%= link_to hello.url, to_url(hello.url), target: "_blank" %></code></h3>
	</section>
		
	<section class="footer-summary">
		<%= raw hello.tags.map{ |tag| link_to "##{tag.name}", tag_path(tag.name), class: 'badge badge-primary' }.join(' ') %>
	</section>
</article>
