<article class="link">

	<section class="link-head">
		<small>
			<%= hello.user.email %>
			<% if hello.user == current_user %>			
				|					
				<%= link_to 'Edit', edit_hello_path(hello) %>
				|
				<%= link_to 'Delete', hello_path(hello), method: :delete, data: { confirm: 'Are you chure ?' } %>
			<% end %>
		</small>
	</section>
	<section>
	</section>

	<section class="link-body">
		<h2><%= link_to hello.summary, hello_path(hello) %></h2>
		<code><%= link_to hello.url, to_url(hello.url), target: "_blank" %></code>
	</section>
		
	<section class="footer-summary">
		<%= raw hello.tags.map(&:name).map{ |t| link_to "##{t}", tag_path(t), class: 'badge badge-primary' }.join(' ') %>
	</section>
</article>